<form autocomplete="off" [formGroup]="forma" (ngSubmit)="buscar()" class="mt-5 d-flex justify-content-center flex-column align-items-center">
    <div class="mb-3 medioAncho">
      <label for="exampleInputEmail1" class="form-label">ID</label>
      <input class="form-control"
               type="text"
               placeholder="Ingrese id..."
               formControlName="id"
               [class.is-invalid]="nombreNoValido">
    </div>
    <button type="submit" class="btn btn-primary">Buscar</button>
</form>

<div class="row" *ngIf="persona.estado">
    <div class="col">
        <table class="table">
            <thead>
              <tr>
                <th scope="col">#</th>
                <th scope="col">ID</th>
                <th scope="col">Nombre</th>
                <th scope="col">Estado</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <th scope="row">Busqueda</th>
                <td>{{persona.id}}</td>
                <td>{{persona.nombre}}</td>
                <td>{{persona.estado}}</td>
              </tr>
            </tbody>
          </table>
    </div>
</div>
